# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: <br>
<ol>
    <li>
        Python
    </li>
    <li>
        R
    </li>
    <li>
        C++
    </li>
</ol>

Some of the commonly used libraries used by Data Scientists include: <br>
<ol>
    <li>
        Pandas
    </li>
    <li>
        matplotlib
    </li>
    <li>
        numpy
    </li>
    <li>
        Seaborn
    </li>
    <li>
        Ggplot2
    </li>
</ol>

<table>
    <tbody>
        <tr>
            <th>
                Data Science Tools
            </th>
        </tr>
        <tr>
            <td>
                Jupyter Notebook
            </td>
        </tr>
        <tr>
            <td>
                R Studio
            </td>
        </tr>
        <tr>
            <td>
                Hadoop
            </td>
        </tr>
    </tbody>
</table

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>
        List Popular Languages For Data Science
    </li>
    <li>
        Use Markdown In A Jupyter Notebook
    </li>
    <li>
        Describe What Is Being Done Using Different Sized Text And Show How Output Is Generated
    </li>
</ul>

<h2>Author:</h2> <br>
Brandon